body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat-Black";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.download-button {

  margin: 5% 3% 5% 0;
}

.title-image {
  width: 50%;
  transform: rotate(20deg);
  padding-top: 2rem;
  animation-timing-function: ease-in;
  position: relative;
  animation: mymove 4s infinite;
  animation-iteration-count: 1;

}

@keyframes mymove {
  from {
    left: 70%;
  }

  to {
    left: 0%;
  }
}

/* feature section */
#features {
  padding: 7% 15%;
  background-color: white;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

h3 {
  font-family: "Montserrat-Bold";
  font-weight: bold;
}

p {
  color: #8f8f8f;
  font-size: 20px;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}



/* testimonial */

#testimonials{

  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color:#fff;
}

h2{

  font-family: "Montserrat-Bold";
  font-size:3rem ;
  line-height: 1.5;
}

.testimonial_image{

  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color:  #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press_logo{

  width: 15%;
  margin: 20px 20px 50px;
}



/* pricing */

#pricing{

  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
.card-header{

  background-color: 0,0,0,.03;
}

@media (max-width:1120px) {

  #title{
    text-align: center;
  }
  .title-image{

    position: static;
    transform: rotate(0);




  }

}

@media (min-width:2200px) {


  .title-image{

    width: 35%;



  }

}




/*-- Call to Action -->*/

#cta{
  background-color:#ff4c68;
  text-align: center;
  padding: 7% 15%;
  color: #fff;
}

.cta-heading{

  font-family: "Montserrat-Black";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;

}



#footer{
  padding: 5% 15%;
  text-align: center;

}
.social-icon {
  margin: 5% 3% 5% 0;
}
